:root {
  --bg-color: rgba(240,238,238,1);
  --light-blue: rgba(124,226,255,0.46000000834465027);
  --less-light-blue: rgba(124,190,225,1);
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-size: 14px;
  font-family: Poppins;
  font-weight: Medium;
}

.container {
  width: 70%;
  height: 100%;
  top: 0px;
  left: 30%;
  background: var(--bg-color);
  position: absolute;
}

.event-title {
  width: 100%;
  
  position: absolute;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: center;
}

.selected {
  background: rgba(124,226,255,0.46000000834465027) !important;
}

.cal {
  width: 90%;
  height: 75%;
  
  top: 21%;
  left: 5%; 
  
  position: absolute;
  overflow: hidden;
  background: white;

/*   black border */
  border-style: solid;
  border-radius: 1%;
  border-width: 0.3em;
}

.block_1 {
  width: 95px;
  height: 200px;
  background: rgba(235,87,97,0.46000000834465027);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 100px;
  overflow: hidden;
}

.block_2 {
  width: 95px;
  height: 80px;
  background: rgba(0,128,128,0.46000000834465027);
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 100px;
  overflow: hidden;
}
.block_3 {
  width: 95px;
  height: 104px;
  background: rgba(123,226,255,0.4600000047683716);
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 100px;
  overflow: hidden;
}
.block_4 {
  width: 95px;
  height: 479px;
  background: rgba(124,226,255,0.46000000834465027);
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 400px;
  overflow: hidden;
}

.times {
  margin: 2%;
  top: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.time-label {
  width: 80px;
  color: black;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  text-align: left;
  padding: 9.5%;
}

.days {
  top: -3%;
  left: 6%;
  width: 90%;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.days p {
  font-family: Poppins;
  font-weight: Regular;
  font-size: 30px;
}

aside {
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
}

.meetings-container {
  background: rgba(255,255,255,1);
}

.meeting-button {
  width: 100%;
  background: white;
  padding: 24px 10%;
  text-align: left;
  border-width: 2px 0 0 0;
  border-color: black;
}

.meeting-icon {
  width: 36px;
  height: 36px;
  background: url("../images/v21_136.png");
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 32px;
  border-radius: 50%;
}

.meeting-label {
  color: rgba(0,0,0,0.8700000047683716);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
}

.pfp {
  width: 150px;
  height: 150px;
  margin: 30px auto 0 auto;

  background: url("images/bob.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.name-tag {
  width: 100%;
  color: black;
  position: relative;
  font-size: 56px;
  text-align: center;
}

.avail_button {
  width: 208px;
  height: 67px;
  background: rgba(217,217,217,1);
  left: 17%;
  margin: 9%;
  border-radius: 13px;
  overflow: hidden;
  text-align: center;
}

.avail_label {
  width: 179px;
  color: rgba(0,0,0,1);
  position: relative;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  margin-left: 8%;
  margin-top: 75px;
  height: 630px;
  gap: 0.5px;
  background-color: rgba(240,240,240,1);
}

.input-box {
  background-color: white;
  flex: 0 0 4.45%;
}

.event-info {
  width: 100%;
  height: 20%;
  top: 10%;
  left: 5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}

.least-container {
  width: 100%;
  height: 53px;
  position: absolute;
  overflow: hidden;
}

.least {
  width: 24px;
  height: 24px;
  background: rgba(123,226,255,0.5400000095367432);
  position: relative;
  overflow: hidden;
}

.least-label {
  width: 162px;
  color: rgba(0,0,0,1);
  position: relative;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.most-container {
  width: 227px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  left: 20%;
  overflow: hidden;
}

.most {
  width: 24px;
  height: 24px;
  background: rgba(123,226,255,1);
  position: relative;
  overflow: hidden;
}

.most-label {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.button_1 {
  width: 140px;
  height: 68px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  right: 20%;
  border-radius: 13px;
  overflow: hidden;
}
.button_2 {
  width: 140px;
  height: 68px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  right: 8%;
  border-radius: 13px;
  overflow: hidden;
}

.button_3 {
  width: 140px;
  height: 68px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  right: 33%;
  border-radius: 13px;
  overflow: hidden;
}

.label {
  width: 111px;
  color: rgba(0,0,0,1);
  position: relative;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}

.button_1, .button_2 {
  margin-right: 10px;
}

.avail-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.avail-time {
  margin-bottom: 5px;
}
